.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.VendingMachine {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("https://images.pexels.com/photos/17028376/pexels-photo-17028376.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.VendingMachine a {
  display: flex;
  color: aliceblue;
  font-weight: 700;
  padding: 20%;
  font-size: large;
  text-decoration: none;
}

.VendingMachine-items {
  justify-content: center;
  margin-top: 20%;
  margin-left: 20%;
  background-color: rgba(0, 0, 0, 0.5);
  width: fit-content;
  padding: 5%;
}

.Soda {
  display: inline-block;
  justify-content: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Soda img {
  display: inline;
  animation: spin 2s linear infinite;
  margin: 0 10%;
}

.Soda a {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: large;
  text-decoration: none;
}

.Soda-items {
  background-color: rgba(0, 0, 0, 0.3);
  width: fit-content;
  padding: 5%;
  margin-top: 2%;
  margin-bottom: 20%;
}

.Chips {
  display: block;
  justify-content: center;
}

.Chips a {
  font-weight: 700;
  font-size: large;
  text-decoration: none;
}
.Chips img {
  width: 50%;
  margin: 5%;
}

.Chips-items {
  background-color: rgba(0, 0, 0, 0.3);
  width: fit-content;
  padding: 5%;
  margin-top: 2%;
  margin-left: 40%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
